#les-paul {
  position: relative;
  width: 350px;
  height: 747px;
  &.container {
    .template {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .body {
      z-index: 20;
      > * {
        opacity: 0.5;
        background: yellow;
        border: 1px solid black;
        z-index: 20;
        position: absolute;
      }
      .top {
        height: 110px;
        width: 164px;
        border-radius: 77% 65% 85% 81%;
        bottom: 231px;
        left: 92px;
      }
      .bottom-up {
        height: 200px;
        width: 239px;
        border-radius: 50%;
        bottom: 23px;
        left: 56px;
      }
      .bottom-down {
        height: 186px;
        width: 236px;
        border-radius: 50%;
        bottom: 17px;
        left: 56px;
      }
    }
  }
}
