.les-paul {
  position: relative;
  width: 350px;
  height:747px;
  &.container {
    .template {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .body {
      z-index: 20;
      .top {
        border: 1px solid black;
        height: 110px;
        width: 164px;
        margin-left: -82px;
        border-radius: 77% 65% 85% 81%;
        background: yellow;
        position: absolute;
        z-index: 20;
        bottom: 231px;
        left: 50%;
        opacity: .5;
      }
      .bottom-up {
        border: 1px solid black;
        height: 200px;
        width: 239px;
        margin-left: -121px;
        border-radius: 50%;
        background: yellow;
        position: absolute;
        z-index: 20;
        bottom: 23px;
        left: 50%;
      }
      .bottom {
        border: 1px solid black;
        height: 186px;
        width: 236px;
        margin-left: -119px;
        border-radius: 50%;
        background: yellow;
        position: absolute;
        z-index: 20;
        bottom: 17px;
        left:50%;
        opacity: .5;
      }
    }
  }
}
