.les-paul {
  position: relative;
  width: 350px;
  height:747px;
  &.container {
    .template {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .body {
      z-index: 20;
      .top {

      }
      .bottom {
        border: 1px solid black;
        height: 186px;
        width: 236px;
        margin-left: -119px;
        border-radius: 50%;
        background: yellow;
        position: absolute;
        z-index: 20;
        bottom: 17px;
        left:50%;
        opacity: .5;
      }
    }
  }
}
